<configuration>
    <property name="LOG_DATEFORMAT_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSSXXX}"/>
    <property name="LOG_LEVEL_PATTERN" value="%5p"/>
    <property name="LOG_PID_PATTERN" value="${PID:-}"/>
    <property name="LOG_APPLICATION_PATTERN" value="${APPLICATION_NAME:-} ${APPLICATION_GROUP:-}"/>
    <property name="LOG_THREAD_PATTERN" value="[%15.15t]"/>
    <property name="LOG_CORRELATION_PATTERN" value="${TRACE_ID:-} ${MSG_ID:-}"/>
    <property name="LOG_LOGGER_PATTERN" value="%-40.40logger{39}"/>
    <property name="LOG_MESSAGE_PATTERN" value="%m%n%ex"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="${LOG_DATEFORMAT_PATTERN} ${LOG_LEVEL_PATTERN} ${LOG_PID_PATTERN} --- ${LOG_APPLICATION_PATTERN} ${LOG_THREAD_PATTERN} ${LOG_CORRELATION_PATTERN} ${LOG_LOGGER_PATTERN} : ${LOG_MESSAGE_PATTERN}"/>
    <property name="CONSOLE_LOG_CHARSET" value="${file.encoding:-UTF-8}"/>
    <property name="CONSOLE_LOG_THRESHOLD" value="TRACE"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${CONSOLE_LOG_THRESHOLD}</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <property name="FILE_LOG_PATTERN"
              value="${LOG_DATEFORMAT_PATTERN} ${LOG_LEVEL_PATTERN} ${LOG_PID_PATTERN} --- ${LOG_APPLICATION_PATTERN} ${LOG_THREAD_PATTERN} ${LOG_CORRELATION_PATTERN} ${LOG_LOGGER_PATTERN} : ${LOG_MESSAGE_PATTERN}"/>
    <property name="FILE_LOG_CHARSET" value="${file.encoding:-UTF-8}"/>
    <property name="FILE_LOG_THRESHOLD" value="TRACE"/>

    <property name="LOG_FILE" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/app.log"/>
    <property name="LOGBACK_ROLLING_POLICY_FILE_NAME_PATTERN" value="${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz"/>
    <property name="LOGBACK_ROLLING_POLICY_CLEAN_HISTORY_ON_START" value="false"/>
    <property name="LOGBACK_ROLLING_POLICY_MAX_FILE_SIZE" value="10MB"/>
    <property name="LOGBACK_ROLLING_POLICY_TOTAL_SIZE_CAP" value="0"/>
    <property name="LOGBACK_ROLLING_POLICY_MAX_HISTORY" value="7"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${FILE_LOG_THRESHOLD}</level>
        </filter>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGBACK_ROLLING_POLICY_FILE_NAME_PATTERN}</fileNamePattern>
            <cleanHistoryOnStart>${LOGBACK_ROLLING_POLICY_CLEAN_HISTORY_ON_START}</cleanHistoryOnStart>
            <maxFileSize>${LOGBACK_ROLLING_POLICY_MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${LOGBACK_ROLLING_POLICY_TOTAL_SIZE_CAP}</totalSizeCap>
            <maxHistory>${LOGBACK_ROLLING_POLICY_MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
