<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %clr(%d{yyyy-MM-dd HH:mm:ss.SSSXXX}){faint}
                  %clr(%-5.5level){yellow} %p -- %clr([%15.15thread]){cyan}
                %clr(%-30.30logger{36}){magenta} %X{traceId:-NO_TRACE_ID} %X{msgId:-NO_MSG_ID}
                 : %msg%n%clr(%wEx){red}
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
